
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2></h2>

<div class="bg-image" style=" background-image: url('https://th.bing.com/th/id/R.c57cacb09be8e95f2fdaeebeea4285ee?rik=0A98Xj%2bJ0rtQ5Q&riu=http%3a%2f%2ffordschapellc.org%2fwp-content%2fuploads%2f2016%2f08%2fBookFair-1150x647.png&ehk=8IGtN2AkJyqAxMbUFmMu%2fuQbmmcGrQrPQtrY%2f9PfSo4%3d&risl=&pid=ImgRaw&r=0 '); background-repeat: no-repeat; height: 80vh; background-position: center; background-size: cover">

</div>


