
@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Home page Content here</h2>

@{
    ViewBag.Message = "This is our home page";
}
@section SideSectionview{
   
        <a href="#" class=" list-group-item text-dark" style="background-color:transparent">Admin Home</a>
        <a href="#" class=" list-group-item text-dark" style="background-color:transparent">Agent Home</a>
        <a href="#" class=" list-group-item text-dark" style="background-color:transparent">Customer Home</a>
    

}
